@model LogementViewModel
@{

    var departements = ViewData["departements"] as List<Departement>;
}
<h1 class="mt-5 mb-5">Créer un logement</h1>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)

    <div class="row form-group">
        <div class="col-lg-3">
            @Html.LabelFor(model => model.Titre, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-lg-8">
            @Html.EditorFor(model => model.Titre)
            @Html.ValidationMessageFor(model => model.Titre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-lg-3">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-lg-8">
            @Html.TextAreaFor(model => model.Description, new { @cols = 80, @rows = 10 })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-lg-3">
            @Html.LabelFor(model => model.NbPersonnes, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-lg-8">
            @Html.EditorFor(model => model.NbPersonnes)
            @Html.ValidationMessageFor(model => model.NbPersonnes, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-lg-3">
            @Html.LabelFor(model => model.Rue, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-lg-8">
            @Html.EditorFor(model => model.Rue)
            @Html.ValidationMessageFor(model => model.Rue, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-lg-3">
            @Html.LabelFor(model => model.CodePostal, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-lg-8">
            @Html.EditorFor(model => model.CodePostal)
            @Html.ValidationMessageFor(model => model.CodePostal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-lg-3">
            @Html.LabelFor(model => model.Ville, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-lg-8">
            @Html.EditorFor(model => model.Ville)
            @Html.ValidationMessageFor(model => model.Ville, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-lg-3">
            @Html.LabelFor(model => model.Departement, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-lg-8">
            @Html.DropDownListFor(model => model.Departement, departements.Select(d => new SelectListItem { Text = d.Nom, Value = d.Id.ToString() }), "Choisir")
            @Html.ValidationMessageFor(model => model.Departement, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group mt-5">
        <input type="submit" value="Créer" class="btn btn-primary" />
    </div>
}