@model Reservation
@{
    var logement = ViewData["logement"] as Logement;
}
<!--
<div class="container-fluid">

    <h1 class="mt-5 mb-5">Détails d'un logement</h1>

    <div class="card mx-auto p-3">
        <div class="card-body">
            <h5 class="card-title text-center mb-5">@Html.DisplayFor(modelItem => logement.Titre)</h5>
            <div class="row mb-3">
                <div class="col-lg-3">Nombre de personnes:</div>
                <div class="col-lg-8">@Html.DisplayFor(modelItem => logement.NbPersonnes)</div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3">Ville:</div>
                <div class="col-lg-8">@Html.DisplayFor(modelItem => logement.Adresse.Ville)</div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3">Département:</div>
                <div class="col-lg-8">@Html.DisplayFor(modelItem => logement.Adresse.Departement.Nom)</div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3">Description:</div>
                <div class="col-lg-8">@Html.DisplayFor(modelItem => logement.Description)</div>
            </div>

            <div class="row mt-4">
                <div class="font-weight-bold col-lg-12">
                    Réservez pour :
                </div>
            </div>
            <div class="row mt-3 mb-5 ml-3">
                @using (Html.BeginForm("CreateReservation", "Logements"))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true)

                    <div class="row form-group">
                        <div class="col-lg-6">
                            @Html.LabelFor(model => model.DateDebut, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.DateDebut)
                            @Html.ValidationMessageFor(model => model.DateDebut, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-6">
                            @Html.LabelFor(model => model.DateFin, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.DateFin)
                            @Html.ValidationMessageFor(model => model.DateFin, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="mt-5">
                        <input type="submit" value="Réserver" class="btn btn-primary" />
                    </div>
                }
            </div>

            <div class="text-center mt-5">
                @Html.ActionLink("Retour", "Index", "Home", null, new { @class = "btn btn-secondary" })
            </div>
            </div>
        </div>

</div>

    -->
